.header{
  position: relative;
  width: 100%;
  padding: 10px 2%;
  background-color: #96989a;
}

.rigth-header{
  position: relative;
  width: 43%;
}

.logo-header{
  position: relative;
  width: 26%;
}

.text-hearder{
  position: relative;
  width: 54%;
  color: #3E4141;
  font-weight: bold;
  font-size: 2.2vw;
}

.logo-a-header{
  position: relative;
  width: 13%;
}

.left-header{
  position: relative;
  width: 25%;
}

.link-github {
  position: relative;
  text-decoration: none;
  color: #3E4141;
  font-weight: bold;
  font-size: 2.2vw;
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}

.link-github:hover {
  opacity: 0.5;
}

.logo-github {
  width: 22%;
}
