<div class="flex align-items-center justify-content-between flex-wrap header">
  <div class="flex align-items-center justify-content-between flex-wrap rigth-header">
    <img src="../assets/img/logolcprograming3.png" alt="Logo LC" class="logo-header">
    <div class="flex align-items-center justify-content-center text-hearder">
      <span>Pipes App - PimeNG</span>
    </div>
    <img src="../assets/img/angular-icon-logo-png-transparent3.png" alt="Angular Logo" class="logo-a-header" />
  </div>

  <div class="flex-initial flex align-items-center justify-content-center left-header">
    <a href="https://github.com/Luiscrd" target="_blank" class="flex align-items-center justify-content-between flex-wrap link-github">
      <span class="span-lc">LcrPrograming</span>
      <img src="../assets/img/github_PNG40.png" alt="Github" class="logo-github">
    </a>
  </div>
</div>
