.footer{
  position: relative;
  width: 100%;
  position: relative;
  background-color: #96989a;
  color: #3E4141;
  padding: 20px 2%;
}

.logo-lcg{
  position: relative;
  width: 25%;
}

.box-logo-li{
  position: relative;
  width: 16%;
}

.logo-liked{
  position: relative;
  width: 100%;
  transition: 0.5s;
}

.logo-liked:hover{
  opacity: 0.5;
}
